<h1>Site visit statistics</h1>
<p>This is an Angular 8 application with .NET Core 3 backend that displays tabular data in an Angular Material table. It's built with:</p>
<ul>
  <li><a href='https://get.asp.net/'>ASP.NET Core</a> and <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> for cross-platform server-side code</li>
  <li>Angular 8</li>
  <li>ngrx (state, store, effects, actions, reducers)</li>
  <li>Angular Material Table</li>
  <li>Angular Material Paginator with server-side pagination</li>
  <li>routed pagination, i. e. each page is accessible by a route &lt;resource_collection&gt;/&lt;page_number&gt;/size/&lt;page_size&gt;</li>
</ul>
