<p>Page visits</p>
<mat-error *ngIf="error$ | async as errorMessage">
  {{ errorMessage }}
</mat-error>
<div style="padding: 32px" *ngIf="dataSource">
  <table mat-table [dataSource]="dataSource" multiTemplateDataRows>
    <ng-container matColumnDef="visitDatetime">
      <th mat-header-cell *matHeaderCellDef>
        Visit date/time
      </th>
      <td mat-cell *matCellDef="let item"> <a [routerLink]="['/visit-session', item.id]">{{item.visitDatetime ? item.visitDatetime.toLocaleString("en-US") : "" }}</a></td>
    </ng-container>
    <ng-container matColumnDef="pageUrl">
      <th mat-header-cell [attr.colspan]="2" *matHeaderCellDef> Page URL </th>
      <td mat-cell [attr.colspan]="2" *matCellDef="let item"> {{item.pageUrl}}</td>
    </ng-container>
    <ng-container matColumnDef="pageTitle">
      <th mat-header-cell *matHeaderCellDef> Page Title </th>
      <td mat-cell *matCellDef="let item"> {{item.pageTitle}}</td>
    </ng-container>
    <ng-container matColumnDef="city">
      <th mat-header-cell *matHeaderCellDef>Country / Region / City </th>
      <td mat-cell *matCellDef="let item"> {{ item.location }} </td>
    </ng-container>
    <ng-container matColumnDef="ipAddress">
      <th mat-header-cell [attr.colspan]="1" *matHeaderCellDef>IP Address</th>
      <td mat-cell [attr.colspan]="1" *matCellDef="let item"> {{item.ipAddress}}</td>
    </ng-container>
    <ng-container matColumnDef="isp">
      <th mat-header-cell [attr.colspan]="1" *matHeaderCellDef>ISP</th>
      <td mat-cell [attr.colspan]="1" *matCellDef="let item"> {{item.isp}}</td>
    </ng-container>
    <ng-container matColumnDef="seTerm">
      <th mat-header-cell [attr.colspan]="1" *matHeaderCellDef>Search terms</th>
      <td mat-cell [attr.colspan]="1" *matCellDef="let item"> {{item.combinedTerms}} </td>
    </ng-container>
    <ng-container matColumnDef="cameFrom">
      <th mat-header-cell [attr.colspan]="2" *matHeaderCellDef>Referrer</th>
      <td mat-cell [attr.colspan]="2" *matCellDef="let item"> {{item.cameFrom}}</td>
    </ng-container>
    <tr mat-row *matRowDef="let row; columns: ['visitDatetime', 'pageUrl', 'pageTitle', 'city']; let i = dataIndex" [class.darker-background]="i % 2 == 0"></tr>
    <tr mat-row *matRowDef="let row; columns: ['ipAddress', 'isp', 'seTerm', 'cameFrom']; let i = dataIndex" [class.darker-background]="i % 2 == 0"></tr>
    <tr mat-header-row *matHeaderRowDef="['visitDatetime', 'pageUrl', 'pageTitle', 'city']"></tr>
    <tr mat-header-row *matHeaderRowDef="['ipAddress', 'isp', 'seTerm', 'cameFrom']"></tr>
  </table>
</div>
<mat-paginator [length]="resultsLength"
               [pageSize]="50"
               [pageSizeOptions]="[10, 25, 50, 100]"
               (page)="handlePage($event)">
</mat-paginator>
